#main {
  position: relative;
  width: 100%;
  height: 100%;
  background-color:  #06031a;
  
}
#fs {
  width: 100%;
  height: 100vh;
  --tw-bg-opacity: 1;
    background-color: rgb(100 116 139 / var(--tw-bg-opacity));
}
#elem {
  width: 100%;
  height: 300px;
  background-color: rgb(154, 205, 50);
}




