#main {
  position: relative;
  width: 100%;
  height: 100%;
  background-color:  #06031a;
  
}
#fs {
  width: 100%;
  height: 100vh;
  background: #716f6f;
}
#elem {
  width: 100%;
  height: 300px;
  background-color: yellowgreen;
}




